body{
    font-family: poppins;
    background-color: black;
    color: white;
}
header{
    background-color: midnightblue;
    color: white;
    display: block;

}
.listnav{
    align-items: center;
}
.firstsection{
    color:white;
    background:linear-gradient(to right top, #0000008a, #0000008a), url(../assets/img/banner-bg.jpg);
    background-size: cover;
    background-position: center;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
